/*
* Boxes
*/
[class*="box"] h1,
[class*="box"] h2,
[class*="box"] h3,
[class*="box"] h4
[class*="box"] h5,
[class*="box"] h6 {
	margin-top: 0;
}

[class*="box"] {
	padding: 0.625em;
	margin: 0 0 1em;
}

.box,
.box-message {
	border: 1px solid #EEE;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.box-message {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #666666;
}

.box-message {
	background: #FAFAFA;
}