/*
 * Lists
 */

ul,
ol {
	margin-bottom: 10px;
}

li {
	padding: 3px 0;
}

dl {
	margin-bottom: 18px;
}

dt {
	font-weight: bold;
}

dl dd {
	margin: 5px 0 10px 10px;
}

.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*
* List Menu
*/
.list-menu {
	background-color: #FAFAFA;
	margin: 0 0 1.5em;
	border: 1px solid #EEEEEE;
}

.list-menu li {
	border-bottom: 1px solid #EEEEEE;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	position: relative;
	list-style: none;
	padding: 0;
}

.list-menu li:last-child {
    border-bottom: none;
}

.list-menu li > a {
	display: block;
	padding: 14px 32px 12px 10px;
	position: relative;
	z-index: 1;
}

.list-menu li:active {
	background: #e9e9e9;
}

.list-menu .list-icon:after {
	font-family: entypo;
	content: "\E75E";
	line-height: 1em;
	margin-top: -0.45em;
	position: absolute;
	top: 50%;
	right: 15px;
	font-size: 2em;
	color: #333;
}

.list-menu [data-icon] {
	display: block;
	position: absolute;
	top: 26px;
	left: 7px;
	z-index: 0;
	font-size: 3em;
}

.list-menu [data-icon] + a {
	padding-left: 36px;
}

@media all and (min-width: 34em) {
	.list-menu {
		width: 35%
	}
}

@media all and (min-width: 54em) {
	.list-menu {
		width: 25%;
	}
}