/*
 * Media queries
 */
/*@media all and (min-width: 20em) {
	body {
		background-color: yellow;
	}
}

@media all and (min-width: 48em) {
	body {
		background-color: red;
	}
}

@media all and (min-width: 65em) {
	body {
		background-color: blue;
	}
}*/