/*
 * pager
 */
.pager {
	margin: 15px 0;
	text-align: center;
}

.pager li {
	display: inline-block;
}

.pager a,
.pager-current {
	font-size: 1.13em;
	padding: 5px 10px;
	border: 1px solid #EEE;
	background-color: #FFF;
}

.pager a {
	background-color: #FFF;
}

.pager a:hover {
	background-color: #F2F2F2;
	text-decoration: none;
}

.pager a:active {
	background-color: #e9e9e9;
}

.pager-current {
	border: 1px solid #EEE;
	background-color: #FAFAFA;
	color: #0637b3;
	font-weight: bold;
}