/*
 * Pagination
 */
.pagination {
	margin: 15px 0;
	text-align: center;
}

.pagination li {
	display: inline-block;
}

.pagination a,
.pagination-current {
	font-size: 1.13em;
	padding: 5px 10px;
	border: 1px solid #EEE;
	background-color: #FFF;
}

.pagination a {
	background-color: #FFF;
}

.pagination a:hover {
	background-color: #F2F2F2;
	text-decoration: none;
}

.pagination a:active {
	background-color: #CCCCCC;
}

.pagination-current,
.pagination a:active {
	border: 1px solid #EEE;
	background-color: #F2F2F2;
	color: #0637b3;
	font-weight: bold;
}